*{
	margin:0;
	padding:0;
	border:0;
	}

img {
	position: relative;
	border: 4mm ridge blue;
	margin-top: 10px;
	left: 30%;
}

.created {
	margin-top: 30px;
	text-align: center;
}

h2 {
	color: red;
}